body
{
  margin:0;
}
#left
{
  width:30%;
  height:657px;
  float:left;
  background:#00ffcc;

}
#right
{
  width:70%;
  height:657px;
  float:left;
  background:#ff8080;

}
.z-axix
{
  width:80%;
  align:center;
  height:80%;
  border: 2px black inset;
  position:absolute;
  left:10%;
  top:10%;
  display:box;
  font-weight:bold;
  line-height:25px;
}
.z-axix img
{
  height:100px;
  width:100px;
  position:relative;
  padding-top:13%;
  padding-left:5%;
}
.z-axix p
{
  position:relative;
  padding-top:1%;
  padding-left:5%;
}
.r-form
{
    position:absolute;
    left:40%;
    top:20%;
    text-transform:capitalize;
}
input[type=text],input[type=number],input[type=password],input[type=url]
{
  background: transparent;
  border:none;
  border-bottom:1px gray solid;
  padding-top:5px;
}
button
{
  background:#00ffcc;
  hight:5%;
  width:70%;
  padding:2%;
  font-weight:bold;
}
a
{
  color:black;
  text-decoration:none;
}
a:hover
{
  color:blue;
}

h1
{
  margin-left: 40%;
}
